/*******************************
Board positions - Meter
********************************/
#meter_wrap {
    border: 2px solid #fff;
    margin-top: 10px;
    padding: 0;
    position: relative;
}
#percent {
    font-weight: 200;
    font-size: 45px;
    text-shadow: 2px 2px 1px #242f35;
}
#points_goal_wrap {
    border: 1px solid #fff;
    border-radius: 12px ! important;
}
#points_goal_wrap h3 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: setting($font-size, m);
    font-weight: 300;
}
#goal {
    color: #fff;
    text-decoration: none;
}
.cover {
    width: 100%;
    position: absolute;
    background-color: transparent;
    height: 100%;
    z-index: 100;
}
.percent_txt {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 34%;
    z-index: 110;
    display: none;
}
.percent_txt p {
    font-size: 18px;
    margin-top: 27px;
}
.percent_txt span {
    position: relative;
    top: 23px ;
    font-size: setting($font-size, m);
    box-shadow: none !important;
    text-shadow: 2px 2px 1px #242f35;
}
.percent_txt .pulsate {
    cursor: pointer;
}
.outer {
    width: 100%;
    height: 264px;
    border: none;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.inner, .inner div {
    width: 100%;
    overflow: hidden;
    border: none;
    left: 0px;
    position: absolute;
}
.inner {
    border: 2px solid #999;
    border-top-width: 0;
    background-color: #00a650;

    bottom: 0;
    height: 0%;
}
.inner div {
    border: 2px solid orange;
    border-bottom-width: 0;
    background-color: orange;
    top: 0;
    width: 100%;
    height: 2px;
}
#points_meter_wrap {
    background-color: #242E35;
    z-index: 99999;
    padding:10px 15px;
    border:1px solid #FFF;
    width: 30%;
    margin-top: -36px;
}
