/*******************************
Board positions - X Editable
********************************/
a.editable-disabled,
a.editable-disabled:hover {
	cursor: pointer !important;
    color: #fff !important;
}
.advertiser-wrap .popover-content {
	padding: 9px 6px;
    width: 200px !important;
}
.advertiser-wrap .editable-input input {
    font-family: "Open Sans",sans-serif;
    font-weight: 200;
    background-color: transparent;
    color: #8cc73f;
    font-size: 10px;;
    height: 52px;
    text-align: center;
    padding-right: 7px !important;
    width: 100% !important;
}

.advertiser-wrap .editable-buttons .editable-submit {
    display: block;
    margin-top: 0px;
}

.advertiser-wrap .editable-buttons .editable-cancel {
    display: block;
    margin: 1px 0 0 0px;
    padding: 1px 31% 3px;
}
.jeopardy_board .advertiser-wrap h3.popover-title {
    color: #1776bb;
    text-align: center;
    text-shadow: 1px 1px 15px #333;
    text-transform: capitalize;
}

.editable-container.popover {
    width: 155px !important;
    top: -107.655px !important;
    left: -1.36094px !important;
}
.advertiser-wrap .editable-buttons {
    margin-left: 0.5%;
    width: 14%;
}
.advertiser-wrap .editable-buttons .fa{
    font-size: setting($font-size, xxxs);
}
.advertiser-wrap .editable-input span.editable-clear-x{
    font-size: setting($font-size, xxxs);
    right: 1px !important;
}