/*******************************
Board positions - Tooltip
********************************/
.publisher-wrap .popover-title {
    color: #00a650;
    font-size: 26px;
    font-weight: 300;
}
.publisher-wrap .popover-content {
    padding: 0;
}
