/*******************************
Board positions - Action
********************************/
#points_meter_wrap {
    position: absolute;
    top: 9%;
    width: 20%;
    left: 5%;
    display: none;
}
#rotator_wrap {
     padding: 0;
     margin: 0 auto;
     float: none;
}
#global_action {
    text-align: center;
}
#global_action a {
    display: inline-block;
    margin: 0;
}
#global_action i {
    font-size: setting($font-size, s);
    text-align: center;
    color: #ccc;
}
#global_action #hide_meter {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
