/*******************************
Board positions - Toast
********************************/
.toast {
    xmargin-top: 80px !important;
}
#toast-container > div {
   width: 500px !important;
}
.toast .toast-title {
    font-size: 25px;
}
.toast .toast-message {
    font-size: 20px;
}
