/*******************************
Board positions - Bunos
********************************/
#bonus_wrap {
  border: 2px solid #fff;
  max-height: 328px;
  margin-top: 10px;
  padding: 0;
  position: relative;
  overflow-y: scroll;
}
#bonus_wrap .panel, #bonus_wrap .panel-heading {
  background-color: transparent;
}
#bonus_wrap .panel, #bonus_wrap .panel-group {
  margin-bottom: 0px;
}
#bonus_wrap .panel-heading h4 a {
  color: #fff;
  text-transform: uppercase;
  font-size: setting($font-size, xs);
}
#bonus_wrap .panel-body p {
  color: #fff;
  font-size: setting($font-size, s);
  margin: 0;
  padding: 0;
}
#bonus_wrap .panel-group .panel + .panel {
  margin-top: 0px;
}

#bonus_wrap .editable-inline,
#bonus_wrap .form-group,
#bonus_wrap .editable-input,
.modal-card_event .editable-inline,
.modal-card_event .form-group{
  width: 100% !important;
}
#bonus_wrap .panel-title .outer_bunos_title {
  position: absolute;
  top: 9px;
  left: 116px;
}
#bonus_wrap .panel-title .editable-inline {
  width: 66% !important;
  position: absolute;
  top: 8px;
  /*right: 28px;*/
  left: 116px;
}
.modal-card_event .editable-input {
  width: 95% !important;
}
#bonus_wrap .bunos_description,
#bonus_wrap .bunos_description:hover,
.modal-card_event .outer_bunos_description,
.modal-card_event .outer_bunos_description:hover {
  width: 95% !important;
  border-bottom: none;
}
#bonus_wrap .panel-title .editable-buttons button {
  padding: 0px 6px;
}
#bonus_wrap .panel-title .editable-input {
  display: inline-block;
  width: 73% !important;
}
#bonus_wrap .panel-title .editable-input input {
  color: #fff;
  padding-right: 24px;
  background-color: transparent;
  padding: 1px 0px 2px;
  left: 0px;
  top: 0px;
  width: 99%;
}
#bonus_wrap .panel-title .editable-clear-x {
  margin-top: 5px;
}
textarea.outer_bunos_description,
textarea.bunos_description {
background-color: transparent;
  /*color: #000;*/
  width: 100%;
}
#bonus_wrap .panel-heading h4 {
  font-size: setting($font-size, xs);
}