
.jeopardy {
    height: 100%;
    z-index: 1;
}
.advertiser_name {
    font-size: setting($font-size, xxxs);
}
.pandit {
    background: url('../svg/tv.svg')0px 0px no-repeat;

    font-size: setting($font-size, m);
}
