html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1a1e25;
}

html * {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

html *:after,
html *:before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-bottom: .5em;
  color: #fff;
  opacity: .75;
  font-size: 1.1em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #fff;
  font-size: 1em;
}

li {
  padding: .35vh 0;
  border-bottom: solid 0.1vw rgba(229, 244, 248, 0.2);
}

.dashboard {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  position: fixed;
  top: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  left: 0.5vw;
  color: #fff;
  font-size: 1.6vw;
}

.emoji {
  width: auto;
  height: .85em;
  margin: 0 .15em;
  vertical-align: middle;
}

.graph {
  display: block;
  width: 100%;
  height: 100%;
}

.grid {
  display: none;
  position: absolute;
  overflow: hidden;
}

.grid--from-a1 {
  display: block;
  top: 0%;
  left: 0%;
  z-index: 998;
}

.grid--to-a1 {
  right: 80%;
  bottom: 66.66666667%;
}

.grid--from-b1 {
  display: block;
  top: 0%;
  left: 20%;
  z-index: 997;
}

.grid--to-b1 {
  right: 60%;
  bottom: 66.66666667%;
}

.grid--from-c1 {
  display: block;
  top: 0%;
  left: 40%;
  z-index: 996;
}

.grid--to-c1 {
  right: 40%;
  bottom: 66.66666667%;
}

.grid--from-d1 {
  display: block;
  top: 0%;
  left: 60%;
  z-index: 995;
}

.grid--to-d1 {
  right: 20%;
  bottom: 66.66666667%;
}

.grid--from-e1 {
  display: block;
  top: 0%;
  left: 80%;
  z-index: 994;
}

.grid--to-e1 {
  right: 0%;
  bottom: 66.66666667%;
}

.grid--from-a2 {
  display: block;
  top: 33.33333333%;
  left: 0%;
  z-index: 997;
}

.grid--to-a2 {
  right: 80%;
  bottom: 33.33333333%;
}

.grid--from-b2 {
  display: block;
  top: 33.33333333%;
  left: 20%;
  z-index: 996;
}

.grid--to-b2 {
  right: 60%;
  bottom: 33.33333333%;
}

.grid--from-c2 {
  display: block;
  top: 33.33333333%;
  left: 40%;
  z-index: 995;
}

.grid--to-c2 {
  right: 40%;
  bottom: 33.33333333%;
}

.grid--from-d2 {
  display: block;
  top: 33.33333333%;
  left: 60%;
  z-index: 994;
}

.grid--to-d2 {
  right: 20%;
  bottom: 33.33333333%;
}

.grid--from-e2 {
  display: block;
  top: 33.33333333%;
  left: 80%;
  z-index: 993;
}

.grid--to-e2 {
  right: 0%;
  bottom: 33.33333333%;
}

.grid--from-a3 {
  display: block;
  top: 66.66666667%;
  left: 0%;
  z-index: 996;
}

.grid--to-a3 {
  right: 80%;
  bottom: 0%;
}

.grid--from-b3 {
  display: block;
  top: 66.66666667%;
  left: 20%;
  z-index: 995;
}

.grid--to-b3 {
  right: 60%;
  bottom: 0%;
}

.grid--from-c3 {
  display: block;
  top: 66.66666667%;
  left: 40%;
  z-index: 994;
}

.grid--to-c3 {
  right: 40%;
  bottom: 0%;
}

.grid--from-d3 {
  display: block;
  top: 66.66666667%;
  left: 60%;
  z-index: 993;
}

.grid--to-d3 {
  right: 20%;
  bottom: 0%;
}

.grid--from-e3 {
  display: block;
  top: 66.66666667%;
  left: 80%;
  z-index: 992;
}

.grid--to-e3 {
  right: 0%;
  bottom: 0%;
}

.grid__tile {
  background-color: #23272f;
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  left: 0.5vw;
  overflow: auto;
  background-color: #23272f;
  border-radius: .25vw;
}

.grid__tile:after {
  background: -webkit-linear-gradient(top, rgba(35, 39, 47, 0) 0, #23272f 100%);
  background: linear-gradient(to bottom, rgba(35, 39, 47, 0) 0, #23272f 100%);
}

.grid__tile--overflow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  z-index: 100;
}

.grid__tile--padded > :first-child {
  padding: 1vw;
}

.grid__tile--transparent {
  background-color: #1a1e25;
}

.grid__tile--transparent:after {
  background: -webkit-linear-gradient(top, rgba(26, 30, 37, 0) 0, #1a1e25 100%);
  background: linear-gradient(to bottom, rgba(26, 30, 37, 0) 0, #1a1e25 100%);
}

.grid__tile--blue {
  background-color: #202f53;
}

.grid__tile--blue:after {
  background: -webkit-linear-gradient(top, rgba(32, 47, 83, 0) 0, #202f53 100%);
  background: linear-gradient(to bottom, rgba(32, 47, 83, 0) 0, #202f53 100%);
}

.grid__tile--green {
  background-color: #287368;
}

.grid__tile--green:after {
  background: -webkit-linear-gradient(top, rgba(40, 115, 104, 0) 0, #287368 100%);
  background: linear-gradient(to bottom, rgba(40, 115, 104, 0) 0, #287368 100%);
}

.grid__tile--red {
  background-color: #e83134;
}

.grid__tile--red:after {
  background: -webkit-linear-gradient(top, rgba(232, 49, 52, 0) 0, #e83134 100%);
  background: linear-gradient(to bottom, rgba(232, 49, 52, 0) 0, #e83134 100%);
}

.grid__tile--orange {
  background-color: #e14a0c;
}

.grid__tile--orange:after {
  background: -webkit-linear-gradient(top, rgba(225, 74, 12, 0) 0, #e14a0c 100%);
  background: linear-gradient(to bottom, rgba(225, 74, 12, 0) 0, #e14a0c 100%);
}

.grid__tile--yellow {
  background-color: #fbbd1a;
}

.grid__tile--yellow:after {
  background: -webkit-linear-gradient(top, rgba(251, 189, 26, 0) 0, #fbbd1a 100%);
  background: linear-gradient(to bottom, rgba(251, 189, 26, 0) 0, #fbbd1a 100%);
}

.grid__tile > :first-child {
  height: 100%;
}

.current-time__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.current-time__time {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  display: block;
  font-size: 2em;
  letter-spacing: .05em;
  line-height: 1;
}

.current-time__date {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  display: block;
  color: #e83134;
  font-size: 1.1em;
}

.internet-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.internet-connection__alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75em 1.5em;
  background-color: rgba(232, 49, 52, 0.95);
  border-radius: 1em 1em 0 0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
  font-size: 1.1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.internet-connection__icon {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Cpath class='st0' d='M48 42H17.5l15.4-25.9L48-10l15.1 25.9L78.5 42zm0-32.7v16.3m0 3.2v2.9'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  font-size: 2em;
}

.internet-connection__text {
  padding-left: .5em;
  color: #fcebec;
}

.feedback__title {
  color: #73c7de;
  font-size: 1.1em;
  text-transform: uppercase;
}

.feedback__events {
  color: #73c7de;
  font-size: 0.9em;
}

.feedback__event {
  padding-bottom: 1.5vh;
}

.feedback__event__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.admin-file__title {
  color: #73c7de;
  font-size: 1.1em;
  text-transform: uppercase;
}

.admin-file__content {
  font-size: 0.9em;
}

.jeopardy {
  height: 100%;
  z-index: 1;
}

.jeopardy__icon {
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Cellipse class='st0' cx='37.5' cy='30' rx='7.8' ry='5.6'/%3E%3Cellipse class='st0' cx='58.5' cy='36.2' rx='7.8' ry='5.6'/%3E%3Cpath class='st0' d='M45.3 30.5V-9.8l21 9.3v37.2m-21-39.4l21 9.3'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10vw;
  opacity: .2;
}

.jeopardy__background {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  background-position: center;
  background-size: cover;
  opacity: .3;
  -webkit-filter: blur(25px);
          filter: blur(25px);
}

@-webkit-keyframes ken-burns {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ken-burns {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.jeopardy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jeopardy__cover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 25%;
  margin: 1vw;
  padding-bottom: 25%;
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  background-size: cover;
  border-radius: .25vw;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.jeopardy__text {
  max-width: 90%;
  margin: 1vw;
  -webkit-transition: width .5s linear;
  transition: width .5s linear;
}

.jeopardy___artist {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.1em;
}

.jeopardy__track {
  font-size: 0.8em;
}

.jeopardy__user {
  display: inline-block;
  margin-top: 1em;
  padding: .25em .5em;
  z-index: 3;
  background: rgba(0, 0, 0, 0.2);
  border-radius: .25vw;
  font-size: 0.8em;
  white-space: nowrap;
}

.jeopardy__user:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Cellipse class='st0' cx='37.5' cy='30' rx='7.8' ry='5.6'/%3E%3Cellipse class='st0' cx='58.5' cy='36.2' rx='7.8' ry='5.6'/%3E%3Cpath class='st0' d='M45.3 30.5V-9.8l21 9.3v37.2m-21-39.4l21 9.3'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  margin-right: .25em;
}

.packagist-statistic {
  zoom: 1;
}

.packagist-statistic:before,
.packagist-statistic:after {
  content: '';
  display: table;
}

.packagist-statistic:after {
  clear: both;
}

.packagist-statistic--total {
  font-size: 1.1em;
}

.packagist-statistics__period {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  top: .1em;
  float: left;
  color: #adadbb;
  font-size: 0.9em;
  text-transform: uppercase;
}

.packagist-statistics__stars:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Cpath class='st0' d='M48-12l7 21.4h22.5L59.3 22.7 66.2 44 48 30.7 29.8 44l6.9-21.3L18.5 9.4H41z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
}

.packagist-statistics__count {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  float: right;
  vertical-align: top;
  color: #fbbd1a;
}

.rain-forecast--dry .rain-forecast__background {
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Ccircle class='st0' cx='32.1' cy='20.3' r='10.6'/%3E%3Ccircle class='st0' cx='64.6' cy='20.3' r='10.6'/%3E%3Cpath class='st0' d='M32.1 20.3l8.4-18.9m10.1 18.9l7.2-16.2m-7.2 16.2L38 7m0 0h18.4m0 0l8.2 13.3m-14 0h14.7M54.6 4.1h6.8M40.5 1.4h2.1'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10vw;
  opacity: .2;
}

.rain-forecast--dry .rain-forecast__title {
  color: #ababbb;
  font-size: 0.8em;
  text-align: center;
  background-color: #23272f;
  border-radius: .25vw;
}

.rain-forecast--wet {
  background-color: rgba(19, 134, 158, 0.6);
}

.rain-forecast--wet .rain-forecast__background {
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M17.8 22.6l7.3-8.4m12.2 6.7l7.3-8.4m4.2 11.9l7.3-8.4M2.8 25l7.3-8.4m10.7-7.5L28.1.8m7.7 9.8l7.3-8.3m9.2 8.5l7.3-8.3M4.8 12.7l7.3-8.3m9.7 28l7.3-8.3m3.5 7.9l7.3-8.3m19.6 3.8l7.3-8.3M4.8 36l7.3-8.3M48.4 7l7.3-8.3M22.7 26.2l7.3-8.4m11.7 7.1l7.3-8.4m4.8 8.8l7.3-8.4m-49.8 3.9l7.3-8.4m7.1.3L33 4.3m3.2 11.5l7.3-8.3m10.2 8.2L61 7.4M15.5 5.6l7.3-8.3m-1.7 42.6l7.3-8.3m10.5 3.7l7.3-8.3m5.2 12.8l7.3-8.3m-48.5 3.3l7.3-8.3M16 56l7.3-8.4m12.1 6.7l7.3-8.4M47 57.8l7.3-8.4M1 58.4L8.3 50m11.4-5l7.3-8.3m6.9 7.2l7.3-8.3m9.3 8.6l7.3-8.3M3 46.1l7.3-8.3m9.7 28l7.3-8.3m3.4 7.8L38 57m19.7 3.8l7.3-8.3M3 69.4l7.3-8.3m36.2-20.7l7.3-8.3M20.9 59.5l7.3-8.4m11.7 7.2l7.3-8.4m4.8 8.8l7.3-8.4M9.5 54.2l7.3-8.4m7.1.2l7.3-8.3m3.1 11.4l7.3-8.3m10.3 8.3l7.3-8.3m-45.6-1.9l7.3-8.3m-1.6 42.6l7.3-8.3m10.5 3.8l7.3-8.3m5.2 12.8l7.3-8.3M8.4 68.1l7.3-8.3' fill='none' stroke='%23fff' stroke-miterlimit='10'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: repeat;
  background-size: 10vw;
  opacity: .2;
}

.rain-forecast--rainy {
  background-color: rgba(19, 134, 158, 0.6);
}

.rain-forecast--rainy .rain-forecast__background {
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Cpath class='st0' d='M33 22.7L40.3 9M52 20.7L59.3 7M64 25.7L71.3 12M18 26.7L25.3 13M36 .6L43.3-13M49 6.6L56.3-7M64 5.6L71.3-8M20 6.6L27.3-7M37 38.7l7.3-13.6M51 46.7l7.3-13.6M69 37.7l7.3-13.6M20 44.7l7.3-13.6'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: repeat;
  background-size: 10vw;
  opacity: .2;
}

.rain-forecast__background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rain-forecast__graph {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rain-forecast__title {
  z-index: 3;
}

.tweets__icon {
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;stroke-miterlimit:10;%7D %3C/style%3E %3Cg transform='translate(-539.18 -568.86)'%3E %3Cpath class='st0' d='M561.6,624c21.4,0,33.2-17.8,33.2-33.2c0-0.5,0-1,0-1.5c2.3-1.6,4.3-3.7,5.8-6c-2.1,0.9-4.3,1.6-6.7,1.8 c2.4-1.4,4.3-3.7,5.1-6.4c-2.3,1.3-4.7,2.3-7.4,2.8c-2.1-2.3-5.2-3.7-8.5-3.7c-6.4,0-11.7,5.2-11.7,11.7c0,0.9,0.1,1.8,0.3,2.7 c-9.7-0.5-18.3-5.1-24-12.2c-1,1.7-1.6,3.7-1.6,5.9c0,4,2.1,7.6,5.2,9.7c-1.9-0.1-3.7-0.6-5.3-1.5c0,0,0,0.1,0,0.1 c0,5.6,4,10.4,9.4,11.4c-1,0.3-2,0.4-3.1,0.4c-0.8,0-1.5-0.1-2.2-0.2c1.5,4.6,5.8,8,10.9,8.1c-4,3.1-9,5-14.5,5 c-0.9,0-1.9-0.1-2.8-0.2C548.9,622.1,555.1,624,561.6,624'/%3E %3C/g%3E %3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10vw;
  opacity: .2;
}

.tweet {
  background-color: #23272f;
  margin-bottom: 1vw;
  padding: 1vw;
  border-radius: .25vw;
}

.tweet:after {
  background: -webkit-linear-gradient(top, rgba(35, 39, 47, 0) 0, #23272f 100%);
  background: linear-gradient(to bottom, rgba(35, 39, 47, 0) 0, #23272f 100%);
}

.tweet--quoted {
  background-color: rgba(83, 87, 94, 0.5);
  margin-top: 1vw;
  padding: 1vw;
  border-radius: .25vw;
}

.tweet--quoted:after {
  background: -webkit-linear-gradient(top, rgba(83, 87, 94, 0) 0, #53575e 100%);
  background: linear-gradient(to bottom, rgba(83, 87, 94, 0) 0, #53575e 100%);
}

.tweet__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1vw;
}

.tweet__user {
  min-width: 0;
}

.tweet__user__handle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #adadbb;
  font-size: 0.65em;
}

.tweet__user__name {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.65em;
}

.tweet__avatar {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.5vw;
  height: 2.5vw;
  margin-right: .5vw;
  overflow: hidden;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.25vw;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.tweet__body--small {
  font-size: 0.65em;
}

.tweet__body--default {
  font-size: 0.9em;
}

.tweet__body--medium {
  font-size: 1em;
}

.tweet__body--large {
  font-size: 1.1em;
}

.tweet__body__handle {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
}

.tweet__body__hashtag {
  color: #adadbb;
}

.tweet__attachment {
  margin-top: 1vw;
  overflow: hidden;
  opacity: .75;
  text-align: center;
}

.tweet__attachment img {
  max-width: 100%;
  max-height: 15vh;
  vertical-align: middle;
  border-radius: .25vw;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.tweet__meta {
  margin-top: .5vw;
  color: #adadbb;
  font-size: 0.65em;
}

.uptime-monitor--empty .uptime-monitor__empty {
  height: 100%;
}

.uptime-monitor--empty .uptime-monitor__background {
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Cpath class='st0' d='M77.3 16H18.6m7.1-6.9L18.6 16l7.1 6.9m44.7 0l6.9-6.9-6.9-6.9'/%3E%3Ccircle class='st0' cx='48.1' cy='16' r='13.8'/%3E%3Cellipse class='st0' cx='48.1' cy='16' rx='8' ry='13.8'/%3E%3Cpath class='st0' d='M34.2 16h27.7M48.1 2.2v27.6'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10vw;
  opacity: .2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.uptime-monitor--empty .uptime-monitor__title {
  z-index: 2;
  color: #ababbb;
  background-color: #23272f;
  border-radius: .25vw;
  font-size: 0.8em;
  text-align: center;
}

.uptime-monitor__title {
  color: #000;
  font-size: 1.1em;
  text-transform: uppercase;
}

.uptime-monitor__notifications {
  font-size: 0.8em;
}

.uptime-monitor__notification {
  padding-bottom: 1.5vh;
  border-color: rgba(176, 111, 28, 0.5);
}

.uptime-monitor__notification__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.uptime-monitor__notification__time {
  font-size: 0.9em;
  color: #000;
}

.table-responsivee {
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-size: 16px;
}

.table-responsive {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */

/* Handle */

::-webkit-scrollbar-thumb {
  background: transparent;
}