@charset "UTF-8";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1a1e25;
}

html * {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

html *:after,
html *:before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-bottom: .5em;
  color: #fff;
  opacity: .75;
  font-size: 1.1em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #fff;
  font-size: 1em;
}

li {
  padding: .35vh 0;
  border-bottom: solid 0.1vw rgba(229, 244, 248, 0.2);
}

.dashboard {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  position: fixed;
  top: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  left: 0.5vw;
  color: #fff;
  font-size: 1.6vw;
}

.emoji {
  width: auto;
  height: .85em;
  margin: 0 .15em;
  vertical-align: middle;
}

.graph {
  display: block;
  width: 100%;
  height: 100%;
}

.grid {
  display: none;
  position: absolute;
  overflow: hidden;
}

.grid--from-a1 {
  display: block;
  top: 0%;
  left: 0%;
  z-index: 998;
}

.grid--to-a1 {
  right: 80%;
  bottom: 66.66666667%;
}

.grid--from-b1 {
  display: block;
  top: 0%;
  left: 20%;
  z-index: 997;
}

.grid--to-b1 {
  right: 60%;
  bottom: 66.66666667%;
}

.grid--from-c1 {
  display: block;
  top: 0%;
  left: 40%;
  z-index: 996;
}

.grid--to-c1 {
  right: 40%;
  bottom: 66.66666667%;
}

.grid--from-d1 {
  display: block;
  top: 0%;
  left: 60%;
  z-index: 995;
}

.grid--to-d1 {
  right: 20%;
  bottom: 66.66666667%;
}

.grid--from-e1 {
  display: block;
  top: 0%;
  left: 80%;
  z-index: 994;
}

.grid--to-e1 {
  right: 0%;
  bottom: 66.66666667%;
}

.grid--from-a2 {
  display: block;
  top: 33.33333333%;
  left: 0%;
  z-index: 997;
}

.grid--to-a2 {
  right: 80%;
  bottom: 33.33333333%;
}

.grid--from-b2 {
  display: block;
  top: 33.33333333%;
  left: 20%;
  z-index: 996;
}

.grid--to-b2 {
  right: 60%;
  bottom: 33.33333333%;
}

.grid--from-c2 {
  display: block;
  top: 33.33333333%;
  left: 40%;
  z-index: 995;
}

.grid--to-c2 {
  right: 40%;
  bottom: 33.33333333%;
}

.grid--from-d2 {
  display: block;
  top: 33.33333333%;
  left: 60%;
  z-index: 994;
}

.grid--to-d2 {
  right: 20%;
  bottom: 33.33333333%;
}

.grid--from-e2 {
  display: block;
  top: 33.33333333%;
  left: 80%;
  z-index: 993;
}

.grid--to-e2 {
  right: 0%;
  bottom: 33.33333333%;
}

.grid--from-a3 {
  display: block;
  top: 66.66666667%;
  left: 0%;
  z-index: 996;
}

.grid--to-a3 {
  right: 80%;
  bottom: 0%;
}

.grid--from-b3 {
  display: block;
  top: 66.66666667%;
  left: 20%;
  z-index: 995;
}

.grid--to-b3 {
  right: 60%;
  bottom: 0%;
}

.grid--from-c3 {
  display: block;
  top: 66.66666667%;
  left: 40%;
  z-index: 994;
}

.grid--to-c3 {
  right: 40%;
  bottom: 0%;
}

.grid--from-d3 {
  display: block;
  top: 66.66666667%;
  left: 60%;
  z-index: 993;
}

.grid--to-d3 {
  right: 20%;
  bottom: 0%;
}

.grid--from-e3 {
  display: block;
  top: 66.66666667%;
  left: 80%;
  z-index: 992;
}

.grid--to-e3 {
  right: 0%;
  bottom: 0%;
}

.grid__tile {
  background-color: #23272f;
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  left: 0.5vw;
  overflow: auto;
  background-color: #23272f;
  border-radius: .25vw;
}

.grid__tile:after {
  background: -webkit-linear-gradient(top, rgba(35, 39, 47, 0) 0, #23272f 100%);
  background: linear-gradient(to bottom, rgba(35, 39, 47, 0) 0, #23272f 100%);
}

.grid__tile--overflow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  z-index: 100;
}

.grid__tile--padded > :first-child {
  padding: 1vw;
}

.grid__tile--transparent {
  background-color: #1a1e25;
}

.grid__tile--transparent:after {
  background: -webkit-linear-gradient(top, rgba(26, 30, 37, 0) 0, #1a1e25 100%);
  background: linear-gradient(to bottom, rgba(26, 30, 37, 0) 0, #1a1e25 100%);
}

.grid__tile--blue {
  background-color: #202f53;
}

.grid__tile--blue:after {
  background: -webkit-linear-gradient(top, rgba(32, 47, 83, 0) 0, #202f53 100%);
  background: linear-gradient(to bottom, rgba(32, 47, 83, 0) 0, #202f53 100%);
}

.grid__tile--green {
  background-color: #287368;
}

.grid__tile--green:after {
  background: -webkit-linear-gradient(top, rgba(40, 115, 104, 0) 0, #287368 100%);
  background: linear-gradient(to bottom, rgba(40, 115, 104, 0) 0, #287368 100%);
}

.grid__tile--red {
  background-color: #e83134;
}

.grid__tile--red:after {
  background: -webkit-linear-gradient(top, rgba(232, 49, 52, 0) 0, #e83134 100%);
  background: linear-gradient(to bottom, rgba(232, 49, 52, 0) 0, #e83134 100%);
}

.grid__tile--orange {
  background-color: #e14a0c;
}

.grid__tile--orange:after {
  background: -webkit-linear-gradient(top, rgba(225, 74, 12, 0) 0, #e14a0c 100%);
  background: linear-gradient(to bottom, rgba(225, 74, 12, 0) 0, #e14a0c 100%);
}

.grid__tile--yellow {
  background-color: #fbbd1a;
}

.grid__tile--yellow:after {
  background: -webkit-linear-gradient(top, rgba(251, 189, 26, 0) 0, #fbbd1a 100%);
  background: linear-gradient(to bottom, rgba(251, 189, 26, 0) 0, #fbbd1a 100%);
}

.grid__tile > :first-child {
  height: 100%;
}

.internet-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.internet-connection__alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75em 1.5em;
  background-color: rgba(232, 49, 52, 0.95);
  border-radius: 1em 1em 0 0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
  font-size: 1.1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.internet-connection__icon {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Cpath class='st0' d='M48 42H17.5l15.4-25.9L48-10l15.1 25.9L78.5 42zm0-32.7v16.3m0 3.2v2.9'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  font-size: 2em;
}

.internet-connection__text {
  padding-left: .5em;
  color: #fcebec;
}

.feedback__title {
  color: #73c7de;
  font-size: 1.1em;
  text-transform: uppercase;
}

.feedback__events {
  color: #73c7de;
  font-size: 0.9em;
}

.feedback__event {
  padding-bottom: 1.5vh;
}

.feedback__event__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.admin-file__title {
  color: #73c7de;
  font-size: 1.1em;
  text-transform: uppercase;
}

.admin-file__content {
  font-size: 0.9em;
}

.jeopardy {
  height: 100%;
  z-index: 1;
}

.advertiser_name {
  font-size: 0.55em;
}

.pandit {
  background: url("data:image/svg+xml,%3C?xml version='1.0' standalone='no'?%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E %3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='668.000000pt' height='720.000000pt' viewBox='0 0 668.000000 720.000000' preserveAspectRatio='xMidYMid meet'%3E %3Cmetadata%3E Created by potrace 1.14, written by Peter Selinger 2001-2017 %3C/metadata%3E %3Cg transform='translate(0.000000,720.000000) scale(0.100000,-0.100000)' fill='%23000000' stroke='none'%3E %3Cpath d='M5296 7178 c-57 -33 -81 -79 -81 -154 l0 -62 -810 -856 -810 -857 -55 6 c-80 9 -317 -12 -450 -39 l-115 -24 -848 564 -847 564 0 41 c0 52 -34 114 -78 141 -67 41 -167 21 -215 -44 -31 -41 -34 -133 -8 -176 42 -67 124 -95 196 -68 l43 17 806 -537 c443 -296 806 -540 806 -543 0 -3 -30 -17 -67 -31 -172 -64 -356 -196 -464 -333 -35 -44 -89 -136 -89 -152 0 -3 576 -5 1280 -5 1030 0 1280 2 1280 13 0 23 -74 138 -128 198 -79 87 -201 174 -336 239 -157 76 -288 116 -499 153 l-67 12 776 820 777 820 57 -3 c109 -7 180 54 180 154 0 123 -130 202 -234 142z m-1615 -2004 c90 -15 288 -73 319 -94 21 -14 9 -12 -38 4 -22 8 -42 11 -44 7 -2 -3 -75 -19 -163 -35 -181 -32 -414 -73 -850 -152 -412 -74 -418 -75 -438 -78 -9 -1 -32 -15 -50 -32 -18 -16 -1 3 38 41 189 188 486 318 811 355 102 11 297 4 415 -16z'/%3E %3Cpath d='M239 4586 c-68 -18 -134 -61 -174 -113 -70 -91 -65 58 -65 -2069 0 -1749 1 -1928 16 -1971 33 -97 101 -167 196 -200 27 -10 96 -17 186 -21 l142 -5 0 -56 c0 -31 3 -73 6 -94 l7 -37 138 0 139 0 0 43 c0 23 3 66 6 94 l7 53 2462 0 2463 0 6 -22 c3 -13 6 -43 6 -68 0 -25 3 -62 6 -83 l7 -37 138 0 139 0 0 44 c0 23 3 70 6 103 l7 61 171 4 c118 4 184 10 214 21 96 34 165 105 196 203 15 44 16 231 14 1989 l-3 1940 -28 57 c-33 67 -80 111 -157 147 l-55 26 -3075 2 c-2416 1 -3085 -1 -3121 -11z m4374 -451 c106 -28 180 -93 217 -193 20 -52 20 -81 19 -1505 0 -799 -3 -1460 -7 -1469 -4 -10 -7 647 -7 1460 l0 1477 -28 57 c-32 65 -89 121 -156 152 l-46 21 -1915 0 -1915 0 -75 -36 c-101 -48 -133 -78 -172 -157 l-33 -67 0 -1460 c0 -1567 -3 -1484 49 -1560 15 -23 16 -27 3 -16 -9 7 -29 38 -44 70 l-28 56 -3 1454 c-3 1608 -6 1515 61 1603 42 55 101 94 168 112 82 22 3827 23 3912 1z m-131 -133 c42 -21 90 -63 134 -117 8 -11 6 -4 -5 16 l-21 36 23 -4 c13 -3 34 -23 51 -49 l28 -45 -8 -257 c-4 -141 -9 -269 -10 -284 -1 -16 -3 -76 -5 -135 -2 -78 -5 -45 -9 117 -4 143 -6 -10 -8 -421 -2 -517 -5 -655 -16 -692 -7 -25 -12 -48 -9 -51 4 -4 -10 -400 -33 -976 -6 -159 -10 -172 -60 -257 -13 -23 -26 -33 -44 -33 -14 0 -212 7 -440 15 -228 9 -599 22 -825 30 -225 8 -597 22 -825 30 -228 8 -597 22 -820 30 -223 8 -487 18 -587 21 l-183 7 -42 51 c-65 77 -67 82 -63 213 2 65 7 261 11 435 4 230 9 316 17 311 7 -4 -5 13 -25 38 -21 25 -48 68 -60 95 l-23 49 -3 804 c-3 907 -6 861 74 949 43 49 91 79 149 93 17 4 831 6 1810 6 l1780 -2 47 -23z m1448 -103 c102 -48 170 -140 193 -260 8 -47 7 -70 -7 -126 -40 -164 -165 -264 -331 -265 -133 -1 -251 70 -310 189 -27 51 -30 68 -30 148 0 76 4 99 26 145 44 94 105 148 207 187 60 22 186 13 252 -18z m6 -939 c73 -36 126 -91 162 -169 21 -45 26 -71 27 -136 0 -71 -4 -88 -33 -147 -38 -77 -92 -130 -171 -167 -47 -22 -70 -26 -141 -26 -73 0 -93 4 -142 28 -72 35 -134 97 -167 167 -22 46 -26 69 -26 145 0 78 4 97 28 147 85 174 290 244 463 158z m378 -1030 c17 -13 17 -14 -1 -21 -10 -4 -99 -9 -198 -10 -99 -1 -160 -5 -135 -8 43 -5 42 -5 -25 -11 -43 -4 15 -7 152 -8 122 -1 228 -5 237 -8 9 -3 16 -16 16 -28 0 -23 -2 -23 -187 -29 -104 -4 -235 -7 -293 -8 -58 -1 -96 -4 -85 -7 l20 -5 -20 -8 c-11 -4 112 -8 273 -8 l292 -1 0 -30 0 -30 -349 0 c-223 0 -352 -4 -356 -10 -3 -5 -27 -11 -53 -12 -88 -3 302 -16 531 -17 l227 -1 0 -30 0 -30 -482 -2 c-266 -1 -460 -4 -433 -7 l50 -5 -65 -6 c-36 -4 138 -8 385 -10 248 -2 471 -4 498 -4 44 -1 47 -2 47 -28 l0 -28 -292 0 c-449 0 -728 -10 -728 -27 0 -11 90 -13 510 -13 l510 0 0 -30 0 -30 -512 -2 c-282 -2 -523 -2 -535 0 -31 5 -34 62 -3 62 13 0 20 7 20 20 0 13 -7 20 -20 20 -14 0 -20 7 -20 24 0 15 7 26 20 29 11 3 20 13 20 22 0 9 -9 19 -20 22 -13 3 -20 14 -20 29 0 17 6 24 20 24 13 0 20 7 20 20 0 13 -7 20 -20 20 -16 0 -20 7 -20 30 0 23 4 30 20 30 13 0 20 7 20 20 0 13 -7 20 -20 20 -15 0 -20 7 -20 25 0 20 5 25 23 25 13 0 34 11 47 25 l23 25 -34 0 -34 0 30 20 c29 20 44 20 491 18 386 -3 464 -5 478 -18z m46 -574 l0 -23 -242 -6 c-300 -9 -775 -9 -805 -1 -16 4 -23 14 -23 29 0 17 7 25 23 27 12 2 253 2 535 0 l512 -2 0 -24z m-258 -76 l258 0 0 -25 0 -25 -535 0 -535 0 0 24 c0 17 7 26 23 30 12 3 136 3 276 0 140 -2 371 -4 513 -4z m258 -120 l0 -30 -535 0 -535 0 0 30 0 30 535 0 535 0 0 -30z m0 -95 l0 -25 -277 -1 c-153 0 -394 -2 -535 -5 l-258 -5 0 31 0 30 535 0 535 0 0 -25z m0 -100 l0 -25 -535 0 -535 0 0 25 0 25 535 0 535 0 0 -25z m-210 -75 c61 -4 83 -7 53 -8 -41 -2 -51 -5 -47 -16 3 -8 18 -17 32 -19 15 -2 -181 -5 -435 -6 l-463 -1 0 30 0 30 378 -1 c207 -1 424 -5 482 -9z m-30 -97 c-64 -3 -90 -7 -80 -13 12 -8 10 -10 -10 -11 -14 -1 0 -5 30 -9 30 -4 -126 -7 -347 -8 -222 -1 -406 -2 -410 -2 -5 0 -9 11 -11 25 l-3 25 463 -2 c255 -1 420 -4 368 -5z m-135 -103 c-110 -5 -103 -6 83 -8 129 -1 211 2 223 9 11 6 25 8 32 6 7 -2 -3 -11 -21 -21 -29 -15 -76 -16 -485 -14 -412 3 -454 5 -477 21 -23 16 -8 17 370 15 241 -1 348 -4 275 -8z'/%3E %3Cpath d='M5753 3819 c-39 -14 -43 -39 -43 -258 l0 -210 26 -20 c15 -12 32 -21 39 -21 7 0 24 9 39 21 l26 20 0 213 c0 170 -3 216 -15 233 -17 25 -43 33 -72 22z'/%3E %3Cpath d='M5801 2863 c-18 -16 -135 -312 -156 -393 -8 -33 27 -80 59 -80 46 0 62 26 130 213 72 201 78 237 44 261 -29 21 -51 20 -77 -1z'/%3E %3C/g%3E %3C/svg%3E") 0px 0px no-repeat;
  font-size: 1.1em;
}

.table-responsivee {
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-size: 16px;
}

.table-responsive {
  font-size: 0.55em;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */

/* Handle */

::-webkit-scrollbar-thumb {
  background: transparent;
}

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/

/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/

.pure-g {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yahoo/pure/issues/41/

    The following font stack makes Pure Grids work on all known environments.

    * FreeSans: Ships with many Linux distros, including Ubuntu

    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.

    * Droid Sans: Ships with all versions of Android.

    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */
  display: -webkit-flex;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  /* Prevents distributing space between rows */
  -ms-align-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/

.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em;
}

.pure-u {
  display: inline-block;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/

.pure-g [class*="pure-u"] {
  font-family: sans-serif;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-5-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-2-24,
.pure-u-3-24,
.pure-u-4-24,
.pure-u-5-24,
.pure-u-6-24,
.pure-u-7-24,
.pure-u-8-24,
.pure-u-9-24,
.pure-u-10-24,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

.pure-u-1-12,
.pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

.pure-u-1-8,
.pure-u-3-24 {
  width: 12.5000%;
  *width: 12.4690%;
}

.pure-u-1-6,
.pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

.pure-u-1-5 {
  width: 20%;
  *width: 19.9690%;
}

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

.pure-u-1-4,
.pure-u-6-24 {
  width: 25%;
  *width: 24.9690%;
}

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

.pure-u-1-3,
.pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

.pure-u-3-8,
.pure-u-9-24 {
  width: 37.5000%;
  *width: 37.4690%;
}

.pure-u-2-5 {
  width: 40%;
  *width: 39.9690%;
}

.pure-u-5-12,
.pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

.pure-u-1-2,
.pure-u-12-24 {
  width: 50%;
  *width: 49.9690%;
}

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

.pure-u-7-12,
.pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

.pure-u-3-5 {
  width: 60%;
  *width: 59.9690%;
}

.pure-u-5-8,
.pure-u-15-24 {
  width: 62.5000%;
  *width: 62.4690%;
}

.pure-u-2-3,
.pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

.pure-u-3-4,
.pure-u-18-24 {
  width: 75%;
  *width: 74.9690%;
}

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

.pure-u-4-5 {
  width: 80%;
  *width: 79.9690%;
}

.pure-u-5-6,
.pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

.pure-u-7-8,
.pure-u-21-24 {
  width: 87.5000%;
  *width: 87.4690%;
}

.pure-u-11-12,
.pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
  width: 100%;
}

/*
    these are just the default styles used in the Cycle2 demo pages.
    you can use these styles or any others that you wish.
*/

/* set border-box so that percents can be used for width, padding, etc (personal preference) */

.cycle-slideshow,
.cycle-slideshow * {
  box-sizing: border-box;
}

.cycle-slideshow {
  width: 45%;
  min-width: 200px;
  max-width: 500px;
  margin: 10px auto;
  padding: 0;
  position: relative;
  background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;
}

/* slideshow images (for most of the demos, these are the actual "slides") */

.cycle-slideshow img {
  /*
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  display: block;
}

/* in case script does not load */

.cycle-slideshow img:first-child {
  position: static;
  z-index: 100;
}

/* pager */

.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 10px;
  overflow: hidden;
}

.cycle-pager span {
  font-family: arial;
  font-size: 50px;
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #ddd;
  cursor: pointer;
}

.cycle-pager span.cycle-pager-active {
  color: #D69746;
}

.cycle-pager > * {
  cursor: pointer;
}

/* caption */

.cycle-caption {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
  z-index: 700;
}

/* overlay */

.cycle-overlay {
  font-family: tahoma, arial;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 600;
  background: black;
  color: white;
  padding: 15px;
  opacity: .5;
}

/* prev / next links */

.cycle-prev,
.cycle-next {
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer;
}

.cycle-prev {
  left: 0;
  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
}

.cycle-next {
  right: 0;
  background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
}

.cycle-prev:hover,
.cycle-next:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

.disabled {
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: none;
}

.disabled:hover {
  color: #337ab7;
  cursor: not-allowed;
}

a:focus,
a:hover {
  text-decoration: none;
}

/* display paused text on top of paused slideshow */

.cycle-paused:after {
  content: 'Paused';
  color: white;
  background: black;
  padding: 10px;
  z-index: 500;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  opacity: .5;
  filter: alpha(opacity=50);
}

/*
    media queries
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .cycle-slideshow {
    width: 200px;
  }

  .cycle-overlay {
    padding: 4px;
  }

  .cycle-caption {
    bottom: 4px;
    right: 4px;
  }
}

.prevad {
  margin-right: 14px;
}

i.fa.fa-plus-square-o {
  font-size: 0.8em;
}

/*******************************
Board positions - upload button
********************************/

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

.fileupload-buttonbar span {
  display: inline-block;
  font: normal 15px "Open Sans",sans-serif;
  color: #fff;
  text-align: center;
}

.fileupload-buttonbar #fileupload-name {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 0 22px;
}

.fileupload-buttonbar #fprogress {
  color: #fff;
  font-size: 16px;
  padding: 0 22px;
}

.dz-image-preview {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/*******************************
Board positions - 	File manager
********************************/

.filemanager {
  widthx: 100%;
  max-width: 100%;
  position: relative;
  xmargin: 100px auto 50px;
}

@media all and (max-width: 965px) {
  .filemanager {
    margin: 30px auto 0;
    padding: 1px;
  }
}

/*-------------------------
	Heading
-------------------------*/

.filemanager .panel .panel-heading {
  color: #fff;
  height: 50px;
}

/*-------------------------
	Breadcrumps
-------------------------*/

.filemanager .panel .breadcrumbs {
  background: transparent;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
}

.filemanager .panel .breadcrumbs span {
  color: #fff;
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  padding-top: 4px;
  text-transform: capitalize;
}

/*-------------------------
	Search box
-------------------------*/

.filemanager .search {
  position: absolute;
  padding-right: 30px;
  cursor: pointer;
  right: 0;
  font-size: 17px;
  color: #ffffff;
  display: block;
  width: 40px;
  height: 40px;
}

.filemanager .search:before {
  content: '';
  position: absolute;
  margin-top: 7px;
  width: 14px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  right: 20px;
}

.filemanager .search:after {
  content: '';
  width: 3px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  position: absolute;
  top: 17px;
  right: 18px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filemanager .search input[type=search] {
  border-radius: 2px;
  color: #4D535E;
  background-color: #FFF;
  width: 250px;
  height: 30px;
  margin-left: -257px;
  margin-topx: 5px;
  padding-left: 20px;
  -webkit-text-decoration-color: #4d535e;
          text-decoration-color: #4d535e;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  displayx: none;
  outline: none;
  border: none;
  padding-right: 10px;
  -webkit-appearance: none;
  display: block !important;
}

#logo-manager-dropzone {
  display: block !important;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #4d535e;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #4d535e;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #4d535e;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #4d535e;
}

/*-------------------------
	Content area
-------------------------*/

.filemanager .file-box {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  display: inline-block;
  margin: 2px;
  padding: 0px 20px;
  min-height: 200px;
  max-height: 200px;
  max-width: 200px;
  min-width: 200px;
  position: relative;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
}

.filemanager .file-box .delete_logo {
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 50% !important;
  border: 1px solid red !important;
  background-color: red !important;
  color: #fff;
  font-size: 17px;
  opacity: 0.6;
  display: none;
}

.filemanager .file-box:hover .delete_logo {
  display: block;
}

.filemanager .file-box .delete_logo:hover {
  opacity: 1;
}

.filemanager .name {
  color: #000;
  font-size: 13px;
  font-weight: normal;
  text-transform: capitalize;
}

.filemanager .details {
  color: #000;
  font-size: 13px;
  display: block;
}

.filemanager .data {
  display: block !important;
  margin-topx: 60px;
  z-indexx: -3;
}

.filemanager .data.animated {
  -webkit-animation: showSlowlyElement 700ms;
  /* Chrome, Safari, Opera */
  animation: showSlowlyElement 700ms;
  /* Standard syntax */
}

.filemanager .data li {
  border-radius: 3px;
  background-color: #373743;
  width: 307px;
  height: 132px;
  list-style-type: none;
  margin: 1px 3px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.3em;
  z-index: 1;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}

.filemanager .data li:hover {
  background-color: #42424E;
}

.filemanager .data li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.filemanager .data li .name {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  width: 150px;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 40px;
}

.filemanager .data li .files_thumb {
  display: inline-block;
  margin: 20px 30px 0px 25px;
  border-radius: 8px;
  width: 60px;
  height: 70px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filemanager .data li .details {
  color: #b6c1c9;
  font-size: 13px;
  font-weight: 400;
  width: 55px;
  height: 10px;
  top: 64px;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
}

.filemanager .nothingfound {
  background-color: #373743;
  width: 23em;
  height: 21em;
  margin: 0 auto;
  display: none;
  font-family: Arial;
  -webkit-animation: showSlowlyElement 700ms;
  /* Chrome, Safari, Opera */
  animation: showSlowlyElement 700ms;
  /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
  margin: 30px auto;
  top: 3em;
  border-radius: 50%;
  position: relative;
  background-color: #d72f6e;
  width: 11em;
  height: 11em;
  line-height: 11.4em;
}

.filemanager .nothingfound .nofiles:after {
  content: '\D7';
  position: absolute;
  color: #ffffff;
  font-size: 14em;
  margin-right: 0.092em;
  right: 0;
}

.filemanager .nothingfound span {
  margin: 0 auto auto 6.8em;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  height: 13px;
  position: relative;
  top: 2em;
}

@media all and (max-width: 965px) {
  .filemanager .data li {
    width: 100%;
    margin: 5px 0;
  }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes showSlowlyElement {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

/* Standard syntax */

@keyframes showSlowlyElement {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

/*******************************
Board positions - Modal
********************************/

body .modal .close {
  background: none !important;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  height: 24px;
  text-indent: 0px;
  width: 24px;
}

body .modal-card {
  width: 50%;
  color: #000;
}

body .modal-card .modal-title {
  color: #fff;
}

body .modal-monopoly {
  float: left;
  width: 22%;
  min-height: 100%;
  margin: 7% auto 0 5.5%;
}

body .modal-global,
body .modal-card_event {
  float: right;
  width: 22%;
  min-height: 100%;
  margin: 7% 5.5% 0 auto;
}

body .modal-card {
  margin: 7% 5.5% 0 auto;
}

body .modal-card_event {
  width: 70%;
}

body .modal-card_event #sample_editable_1_new {
  display: none;
  visibility: hidden;
}

body .modal-global,
body .modal-card_event,
body .modal-card {
  float: left;
  margin: 8.5% auto 0 4%;
}

.modal-card .modal-header,
.modal-global .modal-header,
.modal-monopoly .modal-header,
.modal-card_event .modal-header,
#logo_manager .modal-header,
#adv_settings_wrap .modal-header {
  border-bottom: 3px solid #EFEFEF;
}

.modal-card .modal-footer,
.modal-global .modal-footer,
.modal-monopoly .modal-footer,
.modal-card_event .modal-footer,
#logo_manager .modal-footer,
#adv_settings_wrap .modal-footer {
  border-top: 3px solid #EFEFEF;
}

.modal-card .modal-content,
.modal-global .modal-content,
.modal-monopoly .modal-content,
.modal-card_event .modal-content,
#logo_manager .modal-content,
#adv_settings_wrap .modal-content {
  border: 3px solid #EFEFEF;
  border-radius: 25px !important;
}

.modal-global .portlet,
.modal-monopoly .portlet,
.modal-card .modal-content,
.modal-global .modal-content,
.modal-monopoly .modal-content,
.modal-card_event .modal-content,
#logo_manager .modal-content,
#adv_settings_wrap .modal-content {
  background-color: #364150;
  color: #fff;
}

body .page-container-bg-solid .modal-card .modal-content table th,
body .page-container-bg-solid .modal-card_event .modal-content table td,
body .page-container-bg-solid .modal-card .modal-content table th,
body .page-container-bg-solid .modal-card_event .modal-content table td {
  color: #000 !important;
}

body table.dataTable,
table.dataTable th,
table.dataTable td {
  color: #000;
}

#logo_manager_wrap .modal-content .modal-body,
.modal-card .modal-content .modal-body,
.modal-card_event .modal-content .modal-body {
  background-color: #fff;
  color: #d9d9d9;
  margin: 12px;
}

#global .modal-content {
  width: 300px;
  border: 2px solid #fff;
}

#global .modal-content h3 {
  font-size: 1.1em;
}

#global .modal-content h3 {
  font-size: 1.1em;
}

#advance-global .modal-content {
  margin-left: 60px;
  width: 600px;
  border: 1px solid #fff;
}

#advance-global .modal-content label {
  font-size: 100px;
}

#advance-global h3 {
  font-size: 1.1em;
}

#cards_table {
  margin-top: -49px;
  border-radius: none;
}

#cards_table .modal-card .modal-content {
  border-radius: 2px !important;
  border: 1px solid #EFEFEF;
  width: 700px;
}

#cards_table h3 {
  font-size: 0.9em;
}

/*******************************
Board positions - Pop over
********************************/

.editable-popup {
  z-index: 99999;
}

.advertiser-wrap .popover-content .form-group {
  display: inline;
}

.advertiser-wrap .editable-popup {
  width: 100%;
}

.advertiser-wrap .price_wrap .editable-popup {
  width: 200%;
  left: 1.542px !important;
}

.advertiser-wrap .price_wrap .editable-popup .arrow {
  left: 27% !important;
}

.advertiser-wrap .volume_wrap .editable-popup {
  width: 200%;
  left: -77.458px !important;
}

.advertiser-wrap .volume_wrap .editable-popup .arrow {
  left: 74% !important;
}

.advertiser-wrap .editable-input {
  width: 64%;
}

.advertiser-wrap .editable-buttons {
  margin-left: 1.5%;
  width: 14%;
}

.advertiser-wrap .editable-buttons .btn {
  padding: 1px 28%;
}

/*.minicolors-position-top .minicolors-panel {
    top: -67px;
}
.name_wrap .minicolors-theme-bootstrap .minicolors-swatch {
    height: 55px;
}*/

.name_wrap .minicolors input[type="hidden"] + .minicolors-swatch {
  width: 0px;
}

/*******************************
Board positions - Carousel
********************************/

#bottom_backdrop {
  width: 100%;
  height: 49px;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  background: #242f35 url("/images/bg.jpg") repeat scroll 0 0;
}

.vertical .cycle-carousel-wrap {
  width: 100%;
}

.jeopardy_board {
  max-height: 815px;
  overflow: hidden;
}

.tile {
  opacity: 0.1 !important;
}

.tile.occupied,
.tile.clicked {
  opacity: 1 !important;
}

.item .row {
  margin-top: 44px;
  overflow: hidden;
}

.item {
  margin-top: -45px;
}

.vertical_navigation {
  text-align: center;
  position: relative;
  z-index: 20;
}

.vertical_navigation .add_adv {
  font-size: 20px;
  position: relative;
}

.prevad span,
.nextad span {
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

/*******************************
Board positions - Carousel Controls
********************************/

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
  background-repeat: repeat-x;
  margin-left: 3px;
}

.carousel-control.right {
  margin-right: 3px;
}

.carousel-control {
  background: #222222 none repeat scroll 0 0;
  border: 3px solid #ffffff;
  border-radius: 10px !important;
  color: #ffffff;
  font-size: 60px;
  font-weight: 100;
  height: 40px;
  left: 15px;
  line-height: 30px;
  margin-top: -20px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 40px;
}

.carousel-control {
  background-color: transparent;
  bottom: 0;
  font-size: 20px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.carousel-caption,
.carousel-control {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

/*****************************************
Chevron
******************************************/

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  margin-left: -15px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  margin-right: -15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  margin-top: -8px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 0.8em;
}

/*******************************
Board positions - Bunos
********************************/

#bonus_wrap {
  border: 2px solid #fff;
  max-height: 328px;
  margin-top: 10px;
  padding: 0;
  position: relative;
  overflow-y: scroll;
}

#bonus_wrap .panel,
#bonus_wrap .panel-heading {
  background-color: transparent;
}

#bonus_wrap .panel,
#bonus_wrap .panel-group {
  margin-bottom: 0px;
}

#bonus_wrap .panel-heading h4 a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}

#bonus_wrap .panel-body p {
  color: #fff;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

#bonus_wrap .panel-group .panel + .panel {
  margin-top: 0px;
}

#bonus_wrap .editable-inline,
#bonus_wrap .form-group,
#bonus_wrap .editable-input,
.modal-card_event .editable-inline,
.modal-card_event .form-group {
  width: 100% !important;
}

#bonus_wrap .panel-title .outer_bunos_title {
  position: absolute;
  top: 9px;
  left: 116px;
}

#bonus_wrap .panel-title .editable-inline {
  width: 66% !important;
  position: absolute;
  top: 8px;
  /*right: 28px;*/
  left: 116px;
}

.modal-card_event .editable-input {
  width: 95% !important;
}

#bonus_wrap .bunos_description,
#bonus_wrap .bunos_description:hover,
.modal-card_event .outer_bunos_description,
.modal-card_event .outer_bunos_description:hover {
  width: 95% !important;
  border-bottom: none;
}

#bonus_wrap .panel-title .editable-buttons button {
  padding: 0px 6px;
}

#bonus_wrap .panel-title .editable-input {
  display: inline-block;
  width: 73% !important;
}

#bonus_wrap .panel-title .editable-input input {
  color: #fff;
  padding-right: 24px;
  background-color: transparent;
  padding: 1px 0px 2px;
  left: 0px;
  top: 0px;
  width: 99%;
}

#bonus_wrap .panel-title .editable-clear-x {
  margin-top: 5px;
}

textarea.outer_bunos_description,
textarea.bunos_description {
  background-color: transparent;
  /*color: #000;*/
  width: 100%;
}

#bonus_wrap .panel-heading h4 {
  font-size: 0.8em;
}

/*******************************
Board positions - Card
********************************/

#card {
  width: 100%;
  min-height: 265px;
  text-align: center;
  xdisplay: none;
}

.front,
.flip_front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.back,
.flip_back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.front,
.back,
.flip_front,
.flip_back {
  /*background-color: #ed1d25;*/
  background-color: transparent;
  color: #fff;
}

.back {
  font-size: 18px;
  color: #000;
}

.ui-effects-transfer {
  border: 2px dashed #fff;
}

/*******************************
Board positions - Action
********************************/

#points_meter_wrap {
  position: absolute;
  top: 9%;
  width: 20%;
  left: 5%;
  display: none;
}

#rotator_wrap {
  padding: 0;
  margin: 0 auto;
  float: none;
}

#global_action {
  text-align: center;
}

#global_action a {
  display: inline-block;
  margin: 0;
}

#global_action i {
  font-size: 0.9em;
  text-align: center;
  color: #ccc;
}

#global_action #hide_meter {
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

/*******************************
Board positions - Toggle
********************************/

#toggle_wrap {
  position: absolute;
  height: 100%;
  width: 40px;
  margin-left: 3px;
  margin-top: -50px;
}

#toggle_wrap #show_meter {
  color: #fff;
  font-size: 50px;
  xopacity: 0.1;
  position: relative;
  top: 4%;
  padding: 7px 0 0 1px;
}

/*******************************
Board positions - Circle
********************************/

.circle {
  border-radius: 50% !important;
  display: inline-block;
  margin-right: 20px;
  margin: 0 auto;
  overflow: hidden;
}

.inner_circle {
  width: 200px;
  height: 200px;
  background: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*******************************
Board positions - form
********************************/

#form .form-group.form-md-line-input .form-control,
#global .form-group.form-md-line-input .form-control,
#advance-global .form-group.form-md-line-input .form-control {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px !important;
  margin: 3px;
  text-align: center;
  font-size: 0.9em;
  padding: 10px;
}

#form .form-group.form-md-line-input input.form-control,
#global .form-group.form-md-line-input input.form-control,
#advance-global .form-group.form-md-line-input input.form-control {
  height: 30px;
}

#form .pushtop,
#global .pushtop,
#advance-global .pushtop {
  margin-top: -26px !important;
}

#form .align-left,
#global .align-left,
#advance-global .align-left {
  text-align: left !important;
}

#form .align-right,
#global .align-right,
#advance-global .align-right {
  text-align: right !important;
}

#form .form-group.form-md-line-input .input-group .input-group-addon,
#global .form-group.form-md-line-input .input-group .input-group-addon,
#advance-global .form-group.form-md-line-input .input-group .input-group-addon {
  border-bottom: 0 !important;
}

#form .form-group.form-md-line-input .form-control.no-border,
#global .form-group.form-md-line-input .form-control.no-border,
#advance-global .form-group.form-md-line-input .form-control.no-border {
  border-radius: 0px !important;
}

#form .form-group.form-md-line-input .form-control.bg-white,
#global .form-group.form-md-line-input .form-control.bg-white,
#advance-global .form-group.form-md-line-input .form-control.bg-white {
  background-color: #fff !important;
}

#form .form-group.form-md-line-input .form-control.no-margin,
#global .form-group.form-md-line-input .form-control.no-margin,
#advance-global .form-group.form-md-line-input .form-control.no-margin {
  margin: 0 !important;
}

#form .form-group.form-md-line-input .form-control.border-left,
#form .form-group.form-md-line-input .input-group .input-group-addon.border-left {
  border-radius: 5px 0 0 5px !important;
}

#form .form-group.form-md-line-input .form-control.border-right,
#form .form-group.form-md-line-input .input-group .input-group-addon.border-right {
  border-radius: 0 5px 5px 0 !important;
}

#global_form label {
  font-size: 1.1em;
  margin-top: 10px;
}

#global_form .pushtop input {
  font-size: 0.8em;
}

#global_advance_form .pushtop label {
  font-size: 0.9em;
}

a.purple delete_row {
  margin-top: 0px;
}

#advance-global i {
  font-size: 0.8em;
}

/*******************************
Board positions - Goal
********************************/

#goal_wrap a {
  border: none;
}

#goal_wrap .editable-container {
  position: relative;
  top: -4px;
}

#goal_wrap .editable-container .editable-buttons button {
  padding: 3px 5px;
  margin-top: -5px;
}

#goal_wrap .editable-input input {
  background-color: transparent;
  height: 33px;
  padding: 0 !important;
  width: 120px !important;
}

/*******************************
Board positions - X Editable
********************************/

a.editable-disabled,
a.editable-disabled:hover {
  cursor: pointer !important;
  color: #fff !important;
}

.advertiser-wrap .popover-content {
  padding: 9px 6px;
  width: 200px !important;
}

.advertiser-wrap .editable-input input {
  font-family: "Open Sans",sans-serif;
  font-weight: 200;
  background-color: transparent;
  color: #8cc73f;
  font-size: 10px;
  height: 52px;
  text-align: center;
  padding-right: 7px !important;
  width: 100% !important;
}

.advertiser-wrap .editable-buttons .editable-submit {
  display: block;
  margin-top: 0px;
}

.advertiser-wrap .editable-buttons .editable-cancel {
  display: block;
  margin: 1px 0 0 0px;
  padding: 1px 31% 3px;
}

.jeopardy_board .advertiser-wrap h3.popover-title {
  color: #1776bb;
  text-align: center;
  text-shadow: 1px 1px 15px #333;
  text-transform: capitalize;
}

.editable-container.popover {
  width: 155px !important;
  top: -107.655px !important;
  left: -1.36094px !important;
}

.advertiser-wrap .editable-buttons {
  margin-left: 0.5%;
  width: 14%;
}

.advertiser-wrap .editable-buttons .fa {
  font-size: 0.55em;
}

.advertiser-wrap .editable-input span.editable-clear-x {
  font-size: 0.55em;
  right: 1px !important;
}

/*******************************
Board positions - Advertiser
********************************/

.advertiser-wrap .logo_wrap {
  height: 82px;
  overflow: hidden;
  text-align: center;
}

.advertiser-wrap .logo_wrap img {
  margin: 1px;
  max-height: 100%;
  max-width: 100%;
}

.jeopardy_board .advertiser-wrap .logo_wrap {
  height: 58px;
}

.jeopardy_board .advertiser-wrap .logo_wrap,
.jeopardy_board .advertiser-wrap .name_wrap,
.jeopardy_board .advertiser-wrap .stats_wrap {
  border: 1px solid #fff;
  background-color: #242e35;
  cursor: pointer;
}

.jeopardy_board .advertiser-wrap h3,
.jeopardy_board .advertiser-wrap a {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  text-shadow: 1px 2px 1px #242f35;
  text-transform: uppercase;
  color: #fff;
  margin: 10px 0;
  display: block;
  border-bottom: none;
}

.jeopardy_board .advertiser-wrap .name_wrap {
  position: relative;
  min-height: 58px;
  background-color: #1776bb;
}

.jeopardy_board .advertiser-wrap .name_wrap a {
  vertical-align: middle;
  position: absolute;
  z-index: 2;
  top: 44%;
  left: 40%;
  -webkit-transform: translate(-50%, -68%);
          transform: translate(-50%, -68%);
  line-height: 20px;
  width: 75%;
}

.jeopardy_board .advertiser-wrap .minicolors_wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 1;
}

.jeopardy_board .advertiser-wrap .stats_wrap h3,
.jeopardy_board .advertiser-wrap .stats_wrap a {
  margin: 1px auto;
  text-align: center;
  color: #fff;
  display: block;
  border-bottom: none;
}

.jeopardy_board .advertiser-wrap .stats_wrap h3.popover-title {
  color: #777;
}

/*******************************
Board positions - Board
********************************/

.jeopardy_board {
  border: 1px solid #fff;
  float: none;
  margin: 0 auto;
  padding: 0;
}

.jeopardy_board .publisher-wrap {
  border: 1px solid #fff;
  background-color: #2e3092;
  height: 58px;
  overflow: hidden;
  text-align: center;
}

.jeopardy_board .publisher-wrap h2 {
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.jeopardy_board .publisher-wrap img {
  cursor: pointer;
  margin: 1px;
  max-height: 100%;
  max-width: 100%;
}

/*******************************
Board positions - Tooltip
********************************/

.publisher-wrap .popover-title {
  color: #00a650;
  font-size: 26px;
  font-weight: 300;
}

.publisher-wrap .popover-content {
  padding: 0;
}

/*******************************
Board positions - Meter
********************************/

#meter_wrap {
  border: 2px solid #fff;
  margin-top: 10px;
  padding: 0;
  position: relative;
}

#percent {
  font-weight: 200;
  font-size: 45px;
  text-shadow: 2px 2px 1px #242f35;
}

#points_goal_wrap {
  border: 1px solid #fff;
  border-radius: 12px !important;
}

#points_goal_wrap h3 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 1.1em;
  font-weight: 300;
}

#goal {
  color: #fff;
  text-decoration: none;
}

.cover {
  width: 100%;
  position: absolute;
  background-color: transparent;
  height: 100%;
  z-index: 100;
}

.percent_txt {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 34%;
  z-index: 110;
  display: none;
}

.percent_txt p {
  font-size: 18px;
  margin-top: 27px;
}

.percent_txt span {
  position: relative;
  top: 23px;
  font-size: 1.1em;
  box-shadow: none !important;
  text-shadow: 2px 2px 1px #242f35;
}

.percent_txt .pulsate {
  cursor: pointer;
}

.outer {
  width: 100%;
  height: 264px;
  border: none;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.inner,
.inner div {
  width: 100%;
  overflow: hidden;
  border: none;
  left: 0px;
  position: absolute;
}

.inner {
  border: 2px solid #999;
  border-top-width: 0;
  background-color: #00a650;
  bottom: 0;
  height: 0%;
}

.inner div {
  border: 2px solid orange;
  border-bottom-width: 0;
  background-color: orange;
  top: 0;
  width: 100%;
  height: 2px;
}

#points_meter_wrap {
  background-color: #242E35;
  z-index: 99999;
  padding: 10px 15px;
  border: 1px solid #FFF;
  width: 30%;
  margin-top: -36px;
}

/*******************************
Board positions - Toast
********************************/

.toast {
  xmargin-top: 80px !important;
}

#toast-container > div {
  width: 500px !important;
}

.toast .toast-title {
  font-size: 25px;
}

.toast .toast-message {
  font-size: 20px;
}

/*******************************
Board positions - Color
********************************/

.red {
  background: #ed1a23;
}

.violet {
  background: #652a90;
}

.yelow {
  background: #fff200;
}

.green {
  background: #006334;
}

.tan {
  background: #cfc5b0;
}

.purple {
  background: #5b5ca9;
}

.brown {
  background: #885a38;
}

.grey {
  background: #a8a9ac;
}

.cyan {
  background: #00abef;
}

.pink {
  background: #ec008c;
}

.orange {
  background: #f0582a;
}

.tangerine {
  background: #fbb140;
}

/*******************************
Board positions - General
********************************/

h1,
h2,
h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

h3 {
  line-height: 40px;
}

.center {
  text-align: center;
}

.bar {
  border-color: #252b34;
  xborder-radius: 14px !important;
  border-style: solid;
  border-width: 3px 6px;
  height: 19.2%;
  width: 100%;
  z-index: 100;
}

.separator {
  border-top: 3px solid #404248;
  width: 100%;
}

.icon-red {
  color: #ed1a23;
}

#marquee {
  margin-top: -21px;
}

#marquee h3 {
  font-size: 1.4em;
}