@charset "UTF-8";

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/

/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/

.pure-g {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yahoo/pure/issues/41/

    The following font stack makes Pure Grids work on all known environments.

    * FreeSans: Ships with many Linux distros, including Ubuntu

    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.

    * Droid Sans: Ships with all versions of Android.

    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */
  display: -webkit-flex;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  /* Prevents distributing space between rows */
  -ms-align-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/

.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em;
}

.pure-u {
  display: inline-block;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/

.pure-g [class*="pure-u"] {
  font-family: sans-serif;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-5-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-2-24,
.pure-u-3-24,
.pure-u-4-24,
.pure-u-5-24,
.pure-u-6-24,
.pure-u-7-24,
.pure-u-8-24,
.pure-u-9-24,
.pure-u-10-24,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

.pure-u-1-12,
.pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

.pure-u-1-8,
.pure-u-3-24 {
  width: 12.5000%;
  *width: 12.4690%;
}

.pure-u-1-6,
.pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

.pure-u-1-5 {
  width: 20%;
  *width: 19.9690%;
}

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

.pure-u-1-4,
.pure-u-6-24 {
  width: 25%;
  *width: 24.9690%;
}

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

.pure-u-1-3,
.pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

.pure-u-3-8,
.pure-u-9-24 {
  width: 37.5000%;
  *width: 37.4690%;
}

.pure-u-2-5 {
  width: 40%;
  *width: 39.9690%;
}

.pure-u-5-12,
.pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

.pure-u-1-2,
.pure-u-12-24 {
  width: 50%;
  *width: 49.9690%;
}

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

.pure-u-7-12,
.pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

.pure-u-3-5 {
  width: 60%;
  *width: 59.9690%;
}

.pure-u-5-8,
.pure-u-15-24 {
  width: 62.5000%;
  *width: 62.4690%;
}

.pure-u-2-3,
.pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

.pure-u-3-4,
.pure-u-18-24 {
  width: 75%;
  *width: 74.9690%;
}

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

.pure-u-4-5 {
  width: 80%;
  *width: 79.9690%;
}

.pure-u-5-6,
.pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

.pure-u-7-8,
.pure-u-21-24 {
  width: 87.5000%;
  *width: 87.4690%;
}

.pure-u-11-12,
.pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
  width: 100%;
}

/*
    these are just the default styles used in the Cycle2 demo pages.
    you can use these styles or any others that you wish.
*/

/* set border-box so that percents can be used for width, padding, etc (personal preference) */

.cycle-slideshow,
.cycle-slideshow * {
  box-sizing: border-box;
}

.cycle-slideshow {
  width: 45%;
  min-width: 200px;
  max-width: 500px;
  margin: 10px auto;
  padding: 0;
  position: relative;
  background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;
}

/* slideshow images (for most of the demos, these are the actual "slides") */

.cycle-slideshow img {
  /*
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  display: block;
}

/* in case script does not load */

.cycle-slideshow img:first-child {
  position: static;
  z-index: 100;
}

/* pager */

.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 10px;
  overflow: hidden;
}

.cycle-pager span {
  font-family: arial;
  font-size: 50px;
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #ddd;
  cursor: pointer;
}

.cycle-pager span.cycle-pager-active {
  color: #D69746;
}

.cycle-pager > * {
  cursor: pointer;
}

/* caption */

.cycle-caption {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
  z-index: 700;
}

/* overlay */

.cycle-overlay {
  font-family: tahoma, arial;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 600;
  background: black;
  color: white;
  padding: 15px;
  opacity: .5;
}

/* prev / next links */

.cycle-prev,
.cycle-next {
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer;
}

.cycle-prev {
  left: 0;
  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
}

.cycle-next {
  right: 0;
  background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
}

.cycle-prev:hover,
.cycle-next:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

.disabled {
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: none;
}

.disabled:hover {
  color: #337ab7;
  cursor: not-allowed;
}

a:focus,
a:hover {
  text-decoration: none;
}

/* display paused text on top of paused slideshow */

.cycle-paused:after {
  content: 'Paused';
  color: white;
  background: black;
  padding: 10px;
  z-index: 500;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  opacity: .5;
  filter: alpha(opacity=50);
}

/*
    media queries
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .cycle-slideshow {
    width: 200px;
  }

  .cycle-overlay {
    padding: 4px;
  }

  .cycle-caption {
    bottom: 4px;
    right: 4px;
  }
}

.prevad {
  margin-right: 14px;
}

/*******************************
Board positions - upload button
********************************/

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

.fileupload-buttonbar span {
  display: inline-block;
  font: normal 15px "Open Sans",sans-serif;
  color: #fff;
  text-align: center;
}

.fileupload-buttonbar #fileupload-name {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 0 22px;
}

.fileupload-buttonbar #fprogress {
  color: #fff;
  font-size: 16px;
  padding: 0 22px;
}

.dz-image-preview {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/*******************************
Board positions - 	File manager
********************************/

.filemanager {
  widthx: 100%;
  max-width: 100%;
  position: relative;
  xmargin: 100px auto 50px;
}

@media all and (max-width: 965px) {
  .filemanager {
    margin: 30px auto 0;
    padding: 1px;
  }
}

/*-------------------------
	Heading
-------------------------*/

.filemanager .panel .panel-heading {
  color: #fff;
  height: 50px;
}

/*-------------------------
	Breadcrumps
-------------------------*/

.filemanager .panel .breadcrumbs {
  background: transparent;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
}

.filemanager .panel .breadcrumbs span {
  color: #fff;
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  padding-top: 4px;
  text-transform: capitalize;
}

/*-------------------------
	Search box
-------------------------*/

.filemanager .search {
  position: absolute;
  padding-right: 30px;
  cursor: pointer;
  right: 0;
  font-size: 17px;
  color: #ffffff;
  display: block;
  width: 40px;
  height: 40px;
}

.filemanager .search:before {
  content: '';
  position: absolute;
  margin-top: 7px;
  width: 14px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  right: 20px;
}

.filemanager .search:after {
  content: '';
  width: 3px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  position: absolute;
  top: 17px;
  right: 18px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filemanager .search input[type=search] {
  border-radius: 2px;
  color: #4D535E;
  background-color: #FFF;
  width: 250px;
  height: 30px;
  margin-left: -257px;
  margin-topx: 5px;
  padding-left: 20px;
  -webkit-text-decoration-color: #4d535e;
          text-decoration-color: #4d535e;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  displayx: none;
  outline: none;
  border: none;
  padding-right: 10px;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #4d535e;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #4d535e;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #4d535e;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #4d535e;
}

/*-------------------------
	Content area
-------------------------*/

.filemanager .file-box {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  display: inline-block;
  margin: 2px;
  padding: 0px 20px;
  min-height: 200px;
  max-height: 200px;
  max-width: 200px;
  min-width: 200px;
  position: relative;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
}

.filemanager .file-box .delete_logo {
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 50% !important;
  border: 1px solid red !important;
  background-color: red !important;
  color: #fff;
  font-size: 17px;
  opacity: 0.6;
  display: none;
}

.filemanager .file-box:hover .delete_logo {
  display: block;
}

.filemanager .file-box .delete_logo:hover {
  opacity: 1;
}

.filemanager .name {
  color: #000;
  font-size: 13px;
  font-weight: normal;
  text-transform: capitalize;
}

.filemanager .details {
  color: #000;
  font-size: 13px;
  display: block;
}

.filemanager .data {
  display: block !important;
  margin-topx: 60px;
  z-indexx: -3;
}

.filemanager .data.animated {
  -webkit-animation: showSlowlyElement 700ms;
  /* Chrome, Safari, Opera */
  animation: showSlowlyElement 700ms;
  /* Standard syntax */
}

.filemanager .data li {
  border-radius: 3px;
  background-color: #373743;
  width: 307px;
  height: 132px;
  list-style-type: none;
  margin: 1px 3px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.3em;
  z-index: 1;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}

.filemanager .data li:hover {
  background-color: #42424E;
}

.filemanager .data li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.filemanager .data li .name {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  width: 150px;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 40px;
}

.filemanager .data li .files_thumb {
  display: inline-block;
  margin: 20px 30px 0px 25px;
  border-radius: 8px;
  width: 60px;
  height: 70px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filemanager .data li .details {
  color: #b6c1c9;
  font-size: 13px;
  font-weight: 400;
  width: 55px;
  height: 10px;
  top: 64px;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
}

.filemanager .nothingfound {
  background-color: #373743;
  width: 23em;
  height: 21em;
  margin: 0 auto;
  display: none;
  font-family: Arial;
  -webkit-animation: showSlowlyElement 700ms;
  /* Chrome, Safari, Opera */
  animation: showSlowlyElement 700ms;
  /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
  margin: 30px auto;
  top: 3em;
  border-radius: 50%;
  position: relative;
  background-color: #d72f6e;
  width: 11em;
  height: 11em;
  line-height: 11.4em;
}

.filemanager .nothingfound .nofiles:after {
  content: '\D7';
  position: absolute;
  color: #ffffff;
  font-size: 14em;
  margin-right: 0.092em;
  right: 0;
}

.filemanager .nothingfound span {
  margin: 0 auto auto 6.8em;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  height: 13px;
  position: relative;
  top: 2em;
}

@media all and (max-width: 965px) {
  .filemanager .data li {
    width: 100%;
    margin: 5px 0;
  }
}

/* Chrome, Safari, Opera */

@-webkit-keyframes showSlowlyElement {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

/* Standard syntax */

@keyframes showSlowlyElement {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

/*******************************
Board positions - Modal
********************************/

body .modal .close {
  background: none !important;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  height: 24px;
  text-indent: 0px;
  width: 24px;
}

body .modal-card {
  width: 50%;
  color: #000;
}

body .modal-card .modal-title {
  color: #fff;
}

body .modal-monopoly {
  float: left;
  width: 22%;
  min-height: 100%;
  margin: 7% auto 0 5.5%;
}

body .modal-global,
body .modal-card_event {
  float: right;
  width: 22%;
  min-height: 100%;
  margin: 7% 5.5% 0 auto;
}

body .modal-card {
  margin: 7% 5.5% 0 auto;
}

body .modal-card_event {
  width: 70%;
}

body .modal-card_event #sample_editable_1_new {
  display: none;
  visibility: hidden;
}

body .modal-global,
body .modal-card_event,
body .modal-card {
  float: left;
  margin: 8.5% auto 0 4%;
}

.modal-card .modal-header,
.modal-global .modal-header,
.modal-monopoly .modal-header,
.modal-card_event .modal-header,
#logo_manager .modal-header,
#adv_settings_wrap .modal-header {
  border-bottom: 3px solid #EFEFEF;
}

.modal-card .modal-footer,
.modal-global .modal-footer,
.modal-monopoly .modal-footer,
.modal-card_event .modal-footer,
#logo_manager .modal-footer,
#adv_settings_wrap .modal-footer {
  border-top: 3px solid #EFEFEF;
}

.modal-card .modal-content,
.modal-global .modal-content,
.modal-monopoly .modal-content,
.modal-card_event .modal-content,
#logo_manager .modal-content,
#adv_settings_wrap .modal-content {
  border: 3px solid #EFEFEF;
  border-radius: 25px !important;
}

.modal-global .portlet,
.modal-monopoly .portlet,
.modal-card .modal-content,
.modal-global .modal-content,
.modal-monopoly .modal-content,
.modal-card_event .modal-content,
#logo_manager .modal-content,
#adv_settings_wrap .modal-content {
  background-color: #364150;
  color: #fff;
}

body .page-container-bg-solid .modal-card .modal-content table th,
body .page-container-bg-solid .modal-card_event .modal-content table td,
body .page-container-bg-solid .modal-card .modal-content table th,
body .page-container-bg-solid .modal-card_event .modal-content table td {
  color: #000 !important;
}

body table.dataTable,
table.dataTable th,
table.dataTable td {
  color: #000;
}

#logo_manager_wrap .modal-content .modal-body,
.modal-card .modal-content .modal-body,
.modal-card_event .modal-content .modal-body {
  background-color: #fff;
  color: #d9d9d9;
  margin: 12px;
}

/*******************************
Board positions - Pop over
********************************/

.editable-popup {
  z-index: 99999;
}

.advertiser-wrap .popover-content {
  padding: 9px 6px;
  width: auto;
}

.advertiser-wrap .popover-content .form-group {
  display: inline;
}

.advertiser-wrap .editable-popup {
  width: 100%;
}

.advertiser-wrap .price_wrap .editable-popup {
  width: 200%;
  left: 1.542px !important;
}

.advertiser-wrap .price_wrap .editable-popup .arrow {
  left: 27% !important;
}

.advertiser-wrap .volume_wrap .editable-popup {
  width: 200%;
  left: -134.458px !important;
}

.advertiser-wrap .volume_wrap .editable-popup .arrow {
  left: 74% !important;
}

.advertiser-wrap .editable-input {
  width: 84%;
}

.advertiser-wrap .editable-buttons {
  margin-left: 1.5%;
  width: 14%;
}

.advertiser-wrap .editable-buttons .btn {
  padding: 6px 30%;
}

.advertiser-wrap .editable-input input {
  width: 100% !important;
}

/*.minicolors-position-top .minicolors-panel {
    top: -67px;
}
.name_wrap .minicolors-theme-bootstrap .minicolors-swatch {
    height: 55px;
}*/

.name_wrap .minicolors input[type="hidden"] + .minicolors-swatch {
  width: 0px;
}

/*******************************
Board positions - Carousel
********************************/

#bottom_backdrop {
  width: 100%;
  height: 49px;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  background: #242f35 url("/images/bg.jpg") repeat scroll 0 0;
}

.vertical .cycle-carousel-wrap {
  width: 100%;
}

.jeopardy_board {
  xmax-height: 815px;
  overflow: hidden;
}

.tile {
  opacity: 0.1 !important;
}

.tile.occupied,
.tile.clicked {
  opacity: 1 !important;
}

.item .row {
  margin-top: 44px;
  overflow: hidden;
}

.vertical_navigation {
  text-align: center;
  position: relative;
  z-index: 20;
}

.vertical_navigation .add_adv {
  font-size: 20px;
  position: relative;
}

.prevad span,
.nextad span {
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

/*******************************
Board positions - Carousel
********************************/

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
  background-repeat: repeat-x;
}

.carousel-control {
  background: #222222 none repeat scroll 0 0;
  border: 3px solid #ffffff;
  border-radius: 23px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 100;
  height: 40px;
  left: 15px;
  line-height: 30px;
  margin-top: -20px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 40px;
}

.carousel-control {
  background-color: transparent;
  bottom: 0;
  font-size: 20px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.carousel-caption,
.carousel-control {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

/*******************************
Board positions - Bunos
********************************/

#bonus_wrap {
  border: 3px solid #fff;
  max-height: 328px;
  margin-top: 10px;
  padding: 0;
  position: relative;
  overflow-y: scroll;
}

#bonus_wrap .panel,
#bonus_wrap .panel-heading {
  background-color: transparent;
}

#bonus_wrap .panel,
#bonus_wrap .panel-group {
  margin-bottom: 0px;
}

#bonus_wrap .panel-heading h4 a {
  color: #fff;
  text-transform: uppercase;
}

#bonus_wrap .panel-body p {
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

#bonus_wrap .panel-group .panel + .panel {
  margin-top: 0px;
}

/*******************************
Board positions - Card
********************************/

#card {
  width: 100%;
  min-height: 265px;
  text-align: center;
  xdisplay: none;
}

.front,
.flip_front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.back,
.flip_back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.front,
.back,
.flip_front,
.flip_back {
  /*background-color: #ed1d25;*/
  background-color: transparent;
  color: #fff;
}

.back {
  font-size: 18px;
  color: #000;
}

.ui-effects-transfer {
  border: 2px dashed #fff;
}

/*******************************
Board positions - Action
********************************/

#points_meter_wrap {
  position: absolute;
  top: 9%;
  width: 20%;
  left: 5%;
  display: none;
}

#rotator_wrap {
  padding: 0;
  margin: 0 auto;
  float: none;
}

#global_action {
  text-align: center;
}

#global_action a {
  display: inline-block;
  margin: 0 20px 20px;
}

#global_action i {
  font-size: 30px;
  text-align: center;
  color: #ccc;
}

#global_action #hide_meter {
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

/*******************************
Board positions - Toggle
********************************/

#toggle_wrap {
  position: absolute;
  height: 100%;
  width: 40px;
  margin-left: 20px;
}

#toggle_wrap #show_meter {
  color: #fff;
  font-size: 50px;
  xopacity: 0.1;
  position: relative;
  top: 4%;
  padding: 7px 0 0 1px;
}

/*******************************
Board positions - Circle
********************************/

.circle {
  border-radius: 50% !important;
  display: inline-block;
  margin-right: 20px;
  margin: 0 auto;
  overflow: hidden;
}

.inner_circle {
  width: 200px;
  height: 200px;
  background: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*******************************
Board positions - form
********************************/

#form .form-group.form-md-line-input .form-control,
#global .form-group.form-md-line-input .form-control,
#advance-global .form-group.form-md-line-input .form-control {
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 5px !important;
  margin: 3px;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

#form .form-group.form-md-line-input input.form-control,
#global .form-group.form-md-line-input input.form-control,
#advance-global .form-group.form-md-line-input input.form-control {
  height: 60px;
}

#form .pushtop,
#global .pushtop,
#advance-global .pushtop {
  margin-top: -26px !important;
}

#form .align-left,
#global .align-left,
#advance-global .align-left {
  text-align: left !important;
}

#form .align-right,
#global .align-right,
#advance-global .align-right {
  text-align: right !important;
}

#form .form-group.form-md-line-input .input-group .input-group-addon,
#global .form-group.form-md-line-input .input-group .input-group-addon,
#advance-global .form-group.form-md-line-input .input-group .input-group-addon {
  border-bottom: 0 !important;
}

#form .form-group.form-md-line-input .form-control.no-border,
#global .form-group.form-md-line-input .form-control.no-border,
#advance-global .form-group.form-md-line-input .form-control.no-border {
  border-radius: 0px !important;
}

#form .form-group.form-md-line-input .form-control.bg-white,
#global .form-group.form-md-line-input .form-control.bg-white,
#advance-global .form-group.form-md-line-input .form-control.bg-white {
  background-color: #fff !important;
}

#form .form-group.form-md-line-input .form-control.no-margin,
#global .form-group.form-md-line-input .form-control.no-margin,
#advance-global .form-group.form-md-line-input .form-control.no-margin {
  margin: 0 !important;
}

#form .form-group.form-md-line-input .form-control.border-left,
#form .form-group.form-md-line-input .input-group .input-group-addon.border-left {
  border-radius: 5px 0 0 5px !important;
}

#form .form-group.form-md-line-input .form-control.border-right,
#form .form-group.form-md-line-input .input-group .input-group-addon.border-right {
  border-radius: 0 5px 5px 0 !important;
}

/*******************************
Board positions - Goal
********************************/

#goal_wrap a {
  border: none;
}

#goal_wrap .editable-container {
  position: relative;
  top: -4px;
}

#goal_wrap .editable-container .editable-buttons button {
  padding: 3px 5px;
  margin-top: -5px;
}

#goal_wrap .editable-input input {
  background-color: transparent;
  height: 33px;
  padding: 0 !important;
  width: 120px !important;
}

/*******************************
Board positions - X Editable
********************************/

a.editable-disabled,
a.editable-disabled:hover {
  cursor: pointer !important;
  color: #fff !important;
}

.advertiser-wrap .popover-content {
  padding: 9px 6px;
  width: 300px;
}

.advertiser-wrap .editable-input input {
  font-family: "Open Sans",sans-serif;
  font-weight: 500;
  background-color: transparent;
  color: #8cc73f;
  font-size: 22px;
  height: 72px;
  text-align: center;
}

.advertiser-wrap .editable-buttons .editable-submit {
  display: block;
  margin-top: 0px;
}

.advertiser-wrap .editable-buttons .editable-cancel {
  display: block;
  margin: 3px 0 0 1px;
}

.jeopardy_board .advertiser-wrap h3.popover-title {
  color: #1776bb;
  text-align: left;
  text-shadow: 1px 1px 15px #333;
  text-transform: capitalize;
}

/*******************************
Board positions - Advertiser
********************************/

.advertiser-wrap .logo_wrap {
  height: 82px;
  overflow: hidden;
  text-align: center;
}

.advertiser-wrap .logo_wrap img {
  margin: 1px;
  max-height: 100%;
  max-width: 100%;
}

/*******************************
Board positions - Board
********************************/

.jeopardy_board {
  border: 1px solid #fff;
  float: none;
  margin: 0 auto;
  padding: 0;
}

.jeopardy_board .publisher-wrap {
  border: 1px solid #fff;
  background-color: #2e3092;
  height: 80px;
  overflow: hidden;
  text-align: center;
}

.jeopardy_board .publisher-wrap h2 {
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.jeopardy_board .publisher-wrap img {
  cursor: pointer;
  margin: 1px;
  max-height: 100%;
  max-width: 100%;
}

.jeopardy_board .advertiser-wrap .logo_wrap,
.jeopardy_board .advertiser-wrap .name_wrap,
.jeopardy_board .advertiser-wrap .stats_wrap {
  border: 1px solid #fff;
  background-color: #242e35;
  cursor: pointer;
}

.jeopardy_board .advertiser-wrap h3,
.jeopardy_board .advertiser-wrap a {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  text-shadow: 1px 2px 1px #242f35;
  text-transform: uppercase;
  color: #fff;
  margin: 10px 0;
  display: block;
  border-bottom: none;
}

.jeopardy_board .advertiser-wrap .name_wrap {
  position: relative;
  min-height: 58px;
  background-color: #1776bb;
}

.jeopardy_board .advertiser-wrap .name_wrap a {
  vertical-align: middle;
  position: absolute;
  z-index: 2;
  top: 44%;
  left: 50%;
  -webkit-transform: translate(-50%, -68%);
          transform: translate(-50%, -68%);
  line-height: 20px;
  width: 75%;
}

.jeopardy_board .advertiser-wrap .name_wrap a.long-str {
  font-size: 18px !important;
}

.jeopardy_board .advertiser-wrap .minicolors_wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 1;
}

.jeopardy_board .advertiser-wrap .stats_wrap h3,
.jeopardy_board .advertiser-wrap .stats_wrap a {
  margin: 1px auto;
  text-align: center;
  color: #fff;
  display: block;
  border-bottom: none;
}

/*******************************
Board positions - Tooltip
********************************/

.publisher-wrap .popover-title {
  color: #00a650;
  font-size: 26px;
  font-weight: 300;
}

.publisher-wrap .popover-content {
  padding: 0;
}

/*******************************
Board positions - Meter
********************************/

#meter_wrap {
  border: 3px solid #fff;
  margin-top: 10px;
  padding: 0;
  position: relative;
}

#percent {
  font-weight: 300;
  font-size: 85px;
  text-shadow: 2px 2px 1px #242f35;
}

#points_goal_wrap {
  border: 3px solid #fff;
  border-radius: 12px !important;
}

#points_goal_wrap h3 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

#goal {
  color: #fff;
  text-decoration: none;
}

.cover {
  width: 100%;
  position: absolute;
  background-color: transparent;
  height: 100%;
  z-index: 100;
}

.percent_txt {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 34%;
  z-index: 110;
  display: none;
}

.percent_txt p {
  font-size: 18px;
  margin-top: 27px;
}

.percent_txt span {
  position: relative;
  top: 23px;
  font-size: 20px;
  box-shadow: none !important;
  text-shadow: 2px 2px 1px #242f35;
}

.percent_txt .pulsate {
  cursor: pointer;
}

.outer {
  width: 100%;
  height: 264px;
  border: none;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.inner,
.inner div {
  width: 100%;
  overflow: hidden;
  border: none;
  left: 0px;
  position: absolute;
}

.inner {
  border: 2px solid #999;
  border-top-width: 0;
  background-color: #00a650;
  bottom: 0;
  height: 0%;
}

.inner div {
  border: 2px solid orange;
  border-bottom-width: 0;
  background-color: orange;
  top: 0;
  width: 100%;
  height: 2px;
}

/*******************************
Board positions - Toast
********************************/

.toast {
  xmargin-top: 80px !important;
}

#toast-container > div {
  width: 500px !important;
}

.toast .toast-title {
  font-size: 25px;
}

.toast .toast-message {
  font-size: 20px;
}

/*******************************
Board positions - Color
********************************/

.red {
  background: #ed1a23;
}

.violet {
  background: #652a90;
}

.yelow {
  background: #fff200;
}

.green {
  background: #006334;
}

.tan {
  background: #cfc5b0;
}

.purple {
  background: #5b5ca9;
}

.brown {
  background: #885a38;
}

.grey {
  background: #a8a9ac;
}

.cyan {
  background: #00abef;
}

.pink {
  background: #ec008c;
}

.orange {
  background: #f0582a;
}

.tangerine {
  background: #fbb140;
}

/*******************************
Board positions - General
********************************/

h1,
h2,
h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

h3 {
  line-height: 40px;
}

.center {
  text-align: center;
}

.bar {
  border-color: #252b34;
  xborder-radius: 14px !important;
  border-style: solid;
  border-width: 3px 6px;
  height: 19.2%;
  width: 100%;
  z-index: 100;
}

.separator {
  border-top: 3px solid #404248;
  width: 100%;
}

.icon-red {
  color: #ed1a23;
}