/*******************************
Board positions - General
********************************/
h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}
h3 {
    line-height: 40px;
}
.center {
  text-align: center;
}
.bar {
    border-color: #252b34;
    xborder-radius: 14px !important;
    border-style: solid;
    border-width: 3px 6px;
    height: 19.2%;
    width: 100%;
    z-index: 100;
}
.separator {
    border-top: 3px solid #404248;
    width: 100%;
}
.icon-red {
    color: #ed1a23;
}
