/*******************************
Board positions - Card
********************************/
#card {
    width: 100%;
    min-height: 265px;
    text-align: center;
    xdisplay: none;
}

.front, .flip_front {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.back, .flip_back {
    transform: rotateY(-180deg);
    z-index: 1;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.front, .back, .flip_front, .flip_back {
    /*background-color: #ed1d25;*/
    background-color: transparent;
    color: #fff;
}
.back {
    font-size: 18px;
    color: #000;
}
.ui-effects-transfer {
    border: 2px dashed #fff;
}