/*******************************
Board positions - upload button
********************************/
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
.fileupload-buttonbar span {
      display: inline-block;
      font: normal 15px "Open Sans",sans-serif;
      color: #fff;
      text-align: center;
}
.fileupload-buttonbar #fileupload-name {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding: 0 22px;
}
.fileupload-buttonbar #fprogress {
      color: #fff;
      font-size: 16px;
      padding: 0 22px;
}
.dz-image-preview {
    display: none;
    visibility: hidden;
    opacity: 0;
}
